<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Staging Environment</title>
  <style>
    body { background: linear-gradient(135deg, #74ABE2, #5563DE); color: white; font-family: Arial, sans-serif; text-align: center; margin-top: 100px; }
    h1 { font-size: 48px; margin-bottom: 20px; }
    p { font-size: 20px; opacity: 0.9; }
  </style>
</head>
<body>
  <h1>🧪 STAGING ENVIRONMENT</h1>
  <p>Welcome to the staging website.</p>
  <p>The webpage was built and configurated by Cloud Engineer: Joseph Mbatchou </p>
  <p>Here we are Testing, reviewing, refining, debugging...</p>
  <p>Hope you will enjoy the journey</p>
</body>
</html>
